body {
    color: #FFF;
    margin: 0;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    padding: 0px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;

}

.main-heading {
    margin: 0;
}

ul {
    font-size: 15px;
    padding: 0;
    display: flex;
    list-style-type: none;
}

li {
    margin: 0px 15px;
}

a {
    text-decoration: none;
    color: #FFF;
}

.main-content {
    font-family: Arial, Helvetica, sans-serif;
    background: url(./images/city2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 auto;

}

.content {
    margin: 100px;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
}

.heading {
    font-size: 40px;
}

.description {
    font-size: 20px;
}

.information {
    background-color: #03151F;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.second-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section {
    display: flex;
}

.rectangle {
    margin: 30px 30px;
    height: 400px;
    width: 300px;
}

.square {
    height: 300px;
    width: 300px;
    background-color: #08344d;
    border-radius: 10px;
}

.quote-section {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    padding: 30px 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.quote {
    width: 600px;
    margin: 0;
    padding: 0;
}

.name {
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

.sign-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.sign-bar {
    font-size: 20px;
    font-weight: bold;
    background-color: #041a27;
    border-radius: 10px;
    padding: 20px 60px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign {
    display: flex;
    flex-direction: column;
}

.sign.p {
    margin: 0;
    padding: 0;
}

button {
    background-color: #041a27;
    border-color: aqua;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    color: #FFF;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    background-color: #050c16;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

}